site_name: Sistema de Gestión de Pedidos
theme:
  name: material
  palette: 
    primary: indigo
    scheme: default

# Configuración vital para Mermaid
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Inicio: index.md
  - Flujo de Aprobación (Proceso): proceso-aprobacion.md
  - API de Pagos (Secuencia): secuencia-pagos.md
  - Especificación Técnica: especificaciones.md